.landing-container{
display: flex;
height: 100%;
opacity: 0.8;
background-image: radial-gradient(#F6F6F6 0.5px, #212121 0.5px);
background-size: 10px 10px;
}


.landing-text-container{
    width: 60%;    
    padding-left: 10em;
    padding-top: 8em;
    padding-right: 5em;
}



@keyframes text-appear{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.text-appear{
    
    animation: text-appear 0.5s ease forwards;
    color: #6D9886;
}

.text-appear-2{
    color: #D9CAB3;
    font-weight:900;
}
.text-appear-3{
    font-size:25px;
    color:#F6F6F6;
}




.landing-image-container{
  width: 15rem;
  margin: 80px 20px;
}

.landing-image-container img{
  width: 100%;
  border: 5px solid #F6F6F6;
}


@media(max-width:768px){
  .landing-container{
    display:  block;
    opacity: 0.8;
background-image: radial-gradient(#F6F6F6 0.5px, #212121 0.5px);
background-size: 10px 10px;
  }
  .landing-text-container{
    width: 100%;
    padding-left: 5em;
    /* display: inline; */
  }

  .landing-image-container{
    width: 20rem;
    margin: 5rem auto;
  }

  .landing-image-container img{
    width: 100%;
  }
}





