<div class="landing-container">
    <div class="landing-text-container">
        <h1>
            <span class="text-appear">
                Hello, I'm<br>
                <span class="text-appear-2">
                    RISHABH GADHIA
                </span>
                <br>
                <span class="text-appear-3">
                   I'm a Software Engineer
                </span>
            </span>
            
        </h1>
    </div>
    <div class="landing-image-container">
        <img src="/assets/profile.jpg">
    </div>
    
</div>
