<div class="container-flex">
  <div class="rows">
    <div class="img-container">
      <img src="./assets/profile.jpg" height="300px" />
    </div>
    <div class="about-container container">
      <h4>
        I'm Rishabh Gadhia, a software engineer with a B.Tech in
        Computer Engineering from DTU (Delhi Technological University).
        Currently working at Biz2credit, I try to bring my expertise to the
        forefront as a dedicated and innovative professional. Passionate about
        the world of business, he has a keen interest in exploring new
        opportunities and finding innovative solutions to challenges. My
        drive to excel in technology and enthusiasm for the business world
        makes me a valuable asset in any project I undertake. With a focus on
        growth and success,I try to make significant strides
        in the realms of technology and business.
      </h4>
    </div>
  </div>
</div>
