* {box-sizing:border-box}


.container-flex {
  width: 100%; 
  opacity: 0.8;
  height: 100%;
background-image: radial-gradient(#F6F6F6 0.5px, #212121 0.5px);
background-size: 10px 10px;
  font-weight: 800;
  color: #D9CAB3;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px; 
  color: #D9CAB3;
}

.html {width: 90%; background-color:#6D9886 ;} 
.css {width: 80%; background-color:#6D9886;} 
.js {width: 65%; background-color:#6D9886;}
.angular{width: 40%; background-color:#6D9886;}
.java{width: 60%; background-color:#6D9886;}
.node{width: 40%; background-color:#6D9886;}


@media (max-width:768px) {
    .container{
        padding-left: 5rem;
    }
}