<div class="container">
  <div class="row">
    <div class="form-group col-lg-3 col-sm-10">
      <label for="number" class="h6">Number:</label>
      <input id="number" class="form-control" [(ngModel)]="number" placeholder="Enter Number" />
    </div>
    <div class="form-group col-lg-3 col-sm-10">
      <label for="amount" class="h6">Amount:</label>
      <input id="amount" class="form-control" [(ngModel)]="amount" placeholder="Enter amount" />
    </div>
    <div class="form-group col-lg-3 col-sm-10">
      <label for="date" class="h6">Date:</label>
      <input type="text" id="date" class="form-control" [(ngModel)]="date" placeholder="Enter date" />
    </div>
    <div class="form-group col-lg-3 col-sm-10">
      <label for="interest" class="h6">Interest:</label>
      <input type="text" id="interest" class="form-control" [(ngModel)]="interest" placeholder="Enter interest" />
    </div>    
  </div>
  <div class="col-lg-2">
    <button class="btn btn-success" (click)="add()">+ Add</button>
    <button class="btn btn-success" [disabled]="array.length == 0" (click)="calculate()">Calculate</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Interest</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of array">
        <td>{{row['number']}}</td>
        <td>{{row['amount']}}</td>
        <td>{{row['date']}}</td>
        <td>{{row['interest']}}</td>
      </tr>
      <tr *ngIf="totalPrinciple != 0">
        <td></td>
        <td>{{totalPrinciple}}</td>
        <td></td>
        <td>{{totalInt}}</td>
      </tr>
    </tbody>
  </table>
    <p *ngIf="totalFinal != 0">{{totalFinal}} for {{array?.length}} items</p>

</div>
